# k8s/frontend/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  # KHÔNG CẦN 'type: NodePort' ở đây
  type: ClusterIP
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 80
